<!DOCTYPE html>
<html lang="en">

<head>
    <title>Class Grader - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="./login.js"></script>

    <link rel="stylesheet" href="./login.css">
    <link rel="stylesheet" href="../global/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>
    <!-- Header -->
    <div id="nav-container">
        <nav id="nav-bar">
            <a href="/index"><img id="nav-logo" src="../global/logo.png"></a>

            <a class="nav-element1" href="/index">
                Home
            </a>
            <a class="nav-element1" href="/index/#about">
                About Us
            </a>
            <a class="nav-element1" href="/findClasses/">
                Search Classes
            </a>

            <a class="nav-element3" href="/signup">
                Signup
            </a>
            <a class="nav-element2" href="/login">
                Login
            </a>
        </nav>
    </div>

    <div id="page-container">
        <div id="page-content">
            <!-- Login Form -->
            <center>
                <form id="login-form" onsubmit="return false">
                    <h2 id="login-header">Login</h2>
    
                    <input type="text" class="text-form"" id="username-input" placeholder="Username">
    
                    <p id="username-tooltip" style="visibility: hidden">
                        Username cannot be blank!
                    </p>
                    <p></p>
    
                    <input type="password" class="text-form" id="password-input" placeholder="Password">
    
                    <p id="password-tooltip" style="visibility: hidden">
                        Incorrect Password!
                    </p>
                    <p></p>
    
                    <button id="login-submit" type="submit" onclick="login()">Login</button>
                </form>
            </center>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <div id="footer-container">
                <div id="site-index">
                    <h5>Class Grader Site Index</h5>

                    <a href="/index">Home</a><br>
                    <a href="/signup">Sign Up</a><br>
                    <a href="/login"">Login</a><br>
                <a href=" /profile">Profile</a><br>
                    <a href="/findClasses">Find Class</a><br>
                    <a href="/newClass">New Class</a><br>
                </div>

                <div id="contact">
                    <h5>Contact</h5>

                    <a>Email: someone@someplace.com</a>
                    <p>Phone: 1-(800)-123-4567</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>