#search-form {
    margin: 100px auto;
    width: 1000px;
}

#search-header {
    font-weight: 200;
    font-size: 32px;
}

#no-results {
    width: 100px;
    margin: auto;
}

.text-form:focus {
    outline: none;
    border-width: 2px;
    margin: 0px;
}

.text-form {
    width: 400px;
    height: 40px;
    padding: 0px 20px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    font-size: 18px;
    margin: 1px;
}

#search-submit {
    width: 100px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    background-color: #32a852;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.result {
    width: 1000px;
    height: 30px;
    margin: auto;
    background-color: #b7e8c4;
    padding: 20px;
    border-radius: 20px;;
    margin-top: 30px;
}

.className {
    font-size: 24px;
    color: black;
    float: left;
}

.className:hover {
    color: #555555;
}

.school {
    font-size: 18px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.teacher {
    font-size: 18px;
    color: #666666;
    margin-top: 5px;
    margin-left: 30px;
    float: left;
}

.rating-container {
    margin-top: 5px;
    float: right;
    width: 170px;
}

.rating-label {
    margin: 0px;
    float: left;
}

.rating {
    float: left;
    width: 50px;
}

.rating-bar-dark, .rating-bar-light {
    background-color: #222222;
    width: 5px;
    height: 16px;
    float: right;
    margin: 2px;
    border-radius: 2px;
}

.rating-bar-light {
    background-color: #888888;
}