#new-form {
    margin: 100px auto;
    width: 1000px;
}

#new-header {
    font-weight: 200;
    font-size: 32px;
}

.text-form:focus {
    outline: none;
    border-width: 2px;
    margin: 0px;
}

.text-form {
    width: 100%;
    height: 40px;
    padding: 0px 20px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    font-size: 18px;
    margin: 1px;
}

#new-submit {
    width: 100px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    background-color: #32a852;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#school-tooltip, #class-tooltip, #teacher-tooltip {
    color: red;
    width: 300px;
}